<html>
  <head>
    <title></title>
    <meta content="">
    <style></style>
  </head>
  <body>
  <h1>Здесь будет выбор города</h1>
  <p>
  	<% @cities.each do |city| %>
  		<%= city.title %>
  	<% end %>	
  </p>
  </body>
</html>